body{
	margin:0;
	padding:0;

}
#header{
	height:200px;
	background:black;
	
}


#logo{
    float: right;
}	
#logotext{
	float:left;
	padding:10px;
	padding-top:0;
	margin-top:0;
	color:white;
	tex-shadow: 1px 1px 1px black;
	font-family:Verdana;
	font-size: 60px;
}	
.topmenu{
	display:flex;
	width:100%;
}	
.topmenu a{
	flex:1;
	text-decoration:none;
	background:#2E2E2E;
	color:white;
	text-align:center;
	padding:20px 0;
	border-right: solid 1px white;
}
.topmenu a:hover{
    background:#F2F5A9;
    color:black;
}
#footer {
	text-align:center;
	padding-top:50px;
	padding-bottom:50px;
	background:#201F1F;
	color:white;
}	
.modal-window{
	position:fixed;
	top:100px;
	left:50%;
	width:600px;
	margin-left:-300px;
	padding:10px;
	border:solid 1px #ccc;
	background:white;
    border-radius:6px;
    box-shadow: 1px 1px 1px black;
    z-index:99;	 
}	
.modal-close{
	position:absolute;
	top: 1px;
	right:1px;
	margin:0;
	padding:0;
	text-decoration: none;
	color:red;
	font-size:10px;
}
.modal-close:before{
     position:relative;
     top:1px;
     content:"close";
     font-size:12px;
} 	

#overlay{
  background:black;
  opacity: 0.7;
  position:fixed;
  height:100%;
  width:100%;
  left:0;
  top:0;
 }
@media screen and (max-width: 600px){
	#header{
		height:100px;
	}
	#logo{
		display:none;
	}
	.topmenu{
		flex-direction:column;
	}
.product{
float:left;
margin-right:10px;
}	

	